// Variables
$font-1: "Montserrat", sans-serif;

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url("/src/images/bg.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
