.container {
  width: 100%;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.card {
  position: relative;
  display: block;
  width: 95%;
  height: auto;
  padding: 1rem 1.5rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  color: $color-white;

  border: 1px solid white;
  &__city {
    font-size: 2.2rem;
  }
  &__update {
    font-size: 1.4rem;
    color: rgba($color-white, 0.4);
  }
  &__degree {
    font-size: 5rem;
    font-weight: bold;
  }
  &__description {
    font-weight: 600;
    text-transform: capitalize;
  }

  &__day {
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translate(-50%, -50%);

    &__icon {
      width: 8rem;
    }
    &__info {
      text-align: center;
      margin-top: -2rem;
      margin-left: 0.75rem;
    }
  }
}
