nav {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 900px;
  height: 6rem;
  margin: 0 auto;
  background-color: $color-white;
  overflow: hidden;

  .banner {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    animation-name: infiniteBanner;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 12s;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    font-size: 2rem;

    p {
      display: flex;
      margin-right: 0.5rem;
    }
    span {
      font-weight: bold;
    }
  }
}

@keyframes infiniteBanner {
  0% {
    transform: translateX(500px);
    visibility: visible;
  }
  75% {
    transform: translateX(-750px);
    visibility: hidden;
  }

  100% {
    transform: translateX(0px);
    visibility: hidden;
  }
}
