// Variables
$font-primary: "Nunito", sans-serif;
$font-secondary: sans-serif;

$color-primary: #1a357c;
$color-black: #000;
$color-white: #fff;
$color-red: #c0392b;

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem == 10px;
}

body {
  font-family: $font-primary;
  font-size: 1.6rem;
  background-color: $color-primary;
  min-height: 100vh;
}
